<section id="info" data-type="background" data-speed="0">
  <div class="row">
    <div class="text-center">
      <h1>What is Trend.ng?</h1>
      <p>Trend.ng is a way to visualize the top 10 trends on Twitter using pictures found on Instagram. Twitter's top 10 trends are always changing and Trend.ng can be a fun way to keep up with current topics. Trend.ng will allow you to like the pictures using your own Instagram account.</p>
    </div>
    <div class="text-center">
      <h1>Why Trend.ng exists?</h1>
      <p>This app is solely used to give a different perspective when browsing Instagram. Instead of manually typing in the tags you want to search. Trend.ng automatically populates photos with a trending hashtag. Each city has different trending topics but some topics span over all cities.</p>
    </div>
  </div>
</section>

<section id="instruction" data-type="background" data-speed="4">
  <div class="row">
    <div class="text-center">
      <p>How it Works!</p>
    </div>
  </div>
</section>

<section id="select-location" data-type="background" data-speed="6">
  <div class="instruction-number text-center">1</div>
  <div class="text-center">
    <h2>Select Location</h2>
    <p>Pick one of the given locations within the US.</p>
  </div>
</section>


<section id="view-trends" data-type="background" data-speed="5">
  <div class="instruction-number text-center">2</div>
  <div class="text-center">
    <h2>View Trends</h2>
    <p>View the top 10 trends on Twitter for each location</p>
  </div>
</section>

<section id="use-instagram" data-type="background" data-speed="8">
  <div class="instruction-number text-center">3</div>
  <div class="text-center">
    <h2>Use Instagram</h2>
    <p>You can like the photos you are interested in by signing into your Instagram account.</p>
  </div> 
</section>
<a href="#" class="scrollToTop"><img src="http://2.bp.blogspot.com/-JsMVZzUUuvY/U0_msY6xOcI/AAAAAAAAA5k/KK01sFbi7_0/s1600/up-arrow-icon1.png"></a>
