<section id="info">
  <div class="text-center">
    <h1>What is Trend.ng?</h1>
    <div class="text-center"><p>Trend.ng is a way to visualize the top 10 trends on Twitter using pictures found on Instagram. Twitter's top 10 trends are always changing and Trend.ng can be a fun way to keep up with current topics. Trend.ng will allow you to like the pictures using your own Instagram account.</p></div>
  </div>
</section>

<section id="instruction">
  <div class="text-center">
    <h1>How it Works!</h1>
    <div class="row">
      <div class="col-md-4">
        <h2>Select Location</h2>
        <p>Pick one of the given locations within the US.</p>
      </div>
      <div class="col-md-4">
        <h2>View Trends</h2>
        <p>View the top 10 trends on Twitter for each location</p>
      </div>
      <div class="col-md-4">
        <h2>Use Instagram</h2>
        <p>You can like the photos you are interested in by signing into your Instagram account.</p>
      </div>
    </div>
  </div>
</section>
