<div class="row" id="logo">
  <div class="text-center">
    <h1>Trend.ng</h1>
    <p>View Instagram photos of Top 10 Trends on Twitter!</p>
  </div>
</div>

<section id="cities">
  <div class="container well">
    <div class="text-center">
      <h1>Cities</h1>
      <% @locations.each do |l| %>
        <div class="col-md-4"><%= link_to l.name, trends_path(:woeid => l.woeid), class: "btn" %></div>
      <% end %> 
    </div>
  </div>
</section>

<div class="footer">
  <p>This is where the footer goes</p>
</div>
