<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>Trend.ng</h1>        
        </hgroup>
        <%= button_to "Sign in with Instagram", "/oauth/connect", class: "btn btn-hero btn-lg" %>
      </div>
    </div>
  </div> 
</div>

<div class="footer">
  <p>This is where the footer goes</p>
</div>
