<section id="logo">
</section>

<section id="info">
  <div class="text-center">
    <h1>What is Trend.ng?</h1>
    <p>Trend.ng is a way to visualize the top 10 trends on Twitter using pictures found on Instagram.</p>
  </div>
</section>

<section id="instruction">
  <div class="text-center">
    <h1>How it Works!</h1>
    <div>
      <h2>Select Location</h2>
      <p>Pick one of the given locations within the US.</p>
    </div>
    <div>
      <h2>View Trends</h2>
      <p>View the top 10 trends on Twitter for each location</p>
    </div>
    <div>
      <h2>Sign in to Instagram</h2>
      <p>You can like the photos you are interested in by signing into your Instagram account.</p>
    </div>
  </div>
</section>

<section id="cities">
  <div class="container well">
    <div class="text-center">
      <h1>Cities</h1>
      <% @locations.each do |l| %>
        <div class="col-md-4"><%= link_to l.name, trends_path(:woeid => l.woeid) %></div>
      <% end %> 
    </div>
  </div>
</section>

<div class="footer">
  <p>This is where the footer goes</p>
</div>
