.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #FFFFFF;
}
#nav-logo {
  height: 45px;
  width: auto;
}
#cities {
  padding: 200px 0;
  height: auto;
  width: 100%;
  position: relative;
}
#fade-in {
  display: none;
  width: 100%; 
}
#fade-in h1 {
  padding-top: 300px;
  text-align: center;
  color: #FFFFFF;
}
#homepage { 
  background: url(http://i.imgur.com/rwhOwWE.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
}
#homepage h1 {
  font-family: "Open Sans", sans-serif;
  font-size:100px; 
}
#info {
  background: url(https://ununsplash.imgix.net/photo-1413896235942-39c2eb7cd584?q=75&fm=jpg&s=82734c02c2c6a780dc31f24c54077dd6) 50% 0 fixed;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.2);
  padding: 100px 0 50px 0;
}
#info h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}
#info p {
  width: 65%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-bottom: 100px;
}
#instruction {
  background-color: #c0392b;
  height: auto;
  font-size: 100px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: #FFFFFF;
}
.instruction-number {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  color: #C0392B;
  background-color: #FFFFFF;
  font-size: 75px;
  margin: 0 auto;
}
#select-location {
  background: url(https://unsplash.imgix.net/photo-1425321395722-b1dd54a97cf3?q=75&fm=jpg&s=be1c78fc7817477e060c8d8aa4905212) 50% 0 fixed; 
  height: 600px;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 200px 0;
  color: #FFFFFF;
}
#select-location h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
}
#select-location p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#view-trends {
  background: url(https://ununsplash.imgix.net/photo-1424393101579-527cca47bf3c?q=75&fm=jpg&s=7166e2a52b2921978e8a3244ae11a76c) 50% 0 fixed; 
  height: 600px;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8); 
  padding: 200px 0;
  color: #FFFFFF;
}
#view-trends h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
}
#view-trends p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#use-instagram {
  background: url(https://unsplash.imgix.net/photo-1425315283416-2acc50323ee6?q=75&fm=jpg&s=f1ab294edc8a479ac4b335ae8d5cd17a) 50% 0 fixed; 
  height: 600px;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  padding: 200px 0;
  color: #FFFFFF;
}
#use-instagram h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
}
#use-instagram p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.ig-image {
  width: 60vw;
}
#images {
  width: 75%;
}
#image-caption {
  width: 75%;
  margin: 0 auto;
}
.trend-title {
  font-size: 4vw;
}
.image-section {
  background-color: #bdc3c7;
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
  font-family: 'Open Sans', sans-serif;
}
#like-buttons {
  margin-top: 10px;
}
#like-buttons a {
  font-size: 50px;
}
#like-buttons a .heart {
  color: red;
}
#likes-count {
  font-size: 20px;
  margin-top: 15px;
}
.footer {
  background-color: #ffffff;
  color: #000000;
  height: 20px;
}
.scrollToTop{
  width:100px; 
  height:130px;
  padding:10px; 
  text-align:center; 
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position:fixed;
  top:75px;
  right:40px;
  background: url('') no-repeat 0px 20px;
}
.scrollToTop:hover{
  text-decoration:none;
}
.scrollToTop img {
  width: 100px;
  height: auto;
}
