#cities {
  padding: 200px 0;
  height: auto;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
#logo { 
  width: 100%;
  height: 600px;
}
#info {
  color: white;
  background-color: black;
}
#images {
  width: 75%;
}
#city-image {
  width: 100%;
  height: 100%;
}

