#cities {
  padding: 200px 0;
  background: url(default-city.jpg);
  height: auto;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
#logo {
  background-image: url(trending-logo.png);
  width: 100%;
  height: 600px;
}
#info {
  height: 300px;
  background-color: peachpuff;
}
